// 아래에 폰트를 불러오는 코드를 넣어주세요.

// Global styling for this template
body {
  font-size: 20px;
  color: $gray-900;
  font-family: sans-serif;
}

p {
  line-height: 1.5;
  margin: 10px 0;
  text-align: justify;
  a {
    text-decoration: underline;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 800;
}

a {
  color: $gray-900;
  &:focus,
  &:hover {
    color: $primary;
  }
}

blockquote {
  color: $gray-600;
  border-left: .25em solid #DFE2E5;
  padding: 0 1em;
}

.section-heading {
  font-size: 36px;
  font-weight: 700;
  margin-top: 60px;
}

.caption {
  font-size: 14px;
  font-style: italic;
  display: block;
  margin: 0;
  padding: 10px;
  text-align: center;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

::-moz-selection {
  color: $white;
  background: $primary;
  text-shadow: none;
}

::selection {
  color: $white;
  background: $primary;
  text-shadow: none;
}

img::selection {
  color: $white;
  background: transparent;
}

img::-moz-selection {
  color: $white;
  background: transparent;
}


///넷플릭스////
// 상위메뉴
.highlight_b_red{
  background-color: #b71c1c;
  color: white;
  border-radius:4px;
  font-size: 1.3em;
  padding:5px;
}

// 배경 그레이/ 폰트 검정색 (작)
code{
  background-color: rgb(248, 248, 248);
  box-sizing: border-box;
  border-radius: 3px;
  padding: 5px 10px 5px 15px;
  color: black;
  font-size: 0.7em;
}

// 배경 그레이/ 폰트 빨강색 (큰)
.highlight_s_red{
  background-color: rgb(248, 248, 248);
  box-sizing: border-box;
  border-radius: 3px;
  padding: 5px 10px 5px 15px;
  color: #b71c1c;
  font-size: 0.8em;
}

// 출처
.ref_url{
  font-size: 0.7em;
}

// 인스타사진 7, 8
.nf_insta7{
  width: 345px;
  height: 330px;
  float: left;
}

.nf_insta8{
  width: 345px;
  height: 330px;
}

//분석결과
.result{
  color: black;
}

.result2{
  font-size: 0.9em !important;
}
////넷플릭스 끝////

///오누키 타에코///

.highlight_b_green{
  background-color: #e0f2f1 ;
  color: black;
  border-radius:4px;
  font-size: 1.3em;
  padding:5px;
}
